.titre_test{
    text-align: left;
}

/* ------------------------------ Media Queries ---------------------------------*/

/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.titre_test{
		font-size: 0.95rem;
	}
    .texte_test{
        font-size: 0.80rem;
    }
	
}


/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 48rem) {
	.titre_test{
		font-size: 1rem;
	}
    .texte_test{
        font-size: 0.85rem;
    }
	
}


/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
    .texte_test{
        font-size: 0.90rem;
    }
	
}
