.popup_conseil_test {
	float: right;
	position: relative;
	padding-top: 1rem;
	z-index: 3;
	cursor: pointer;
	pointer-events: auto;
}

.ampoule_test {
	fill: #a3a3a3;
	width: 1.7rem;
	height: 1.7rem;
	animation: blink 0.5s 20 alternate;
	animation-iteration-count: 10;
	transition-delay: 0.1s; 
}

.ampoule_test:hover {
	fill: rgb(13, 202, 240, 70%);
	transition: ease-in-out 0.2s;
	cursor: pointer;
	transform: scale(1.07); 
	transition-delay: 0s; 
}

.ampoule_test_mini {
	fill: white;
}

.espace_ampoule_test {
	padding-right: 1.3rem;
}

.taille_police {
	font-size: 0.688rem;
}

@keyframes blink {
	from {
		fill: #8d8c8c;
	}
	to {
		fill: rgb(13, 202, 240, 70%);
	}
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.ampoule_test {
		width: 1.6rem;
		height: 1.6rem;
	}

	.ampoule_test_mini {
		width: 0.91rem;
		height: 0.91rem;
	}

	.ampoule_test:hover {
		transform: scale(1.03); 
	}
}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 48rem) {
	.ampoule_test_mini {
		width: 0.93rem;
		height: 0.93rem;
	}

	.ampoule_test:hover {
		transform: scale(1.04); 
	}	
}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
	.ampoule_test_mini {
		width: 0.93rem;
		height: 0.93rem;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
	.ampoule_test_mini {
		width: 0.95rem;
		height: 0.95rem;
	}

}

/* ---------- 75rem et + (1200px et +) ---------------- */
@media (min-width: 75rem) {
	.ampoule_test_mini {
		width: 0.98rem;
		height: 0.98rem;
	}

	.taille_police {
		font-size: 0.75rem;
	}
}