.text-question {
	font-weight: bold;
}
.enonce {
	font-size: 1em;
}
.titre {
	font-size: 2em;
	color: black;
	font-weight: bold;
	z-index: 1;
}
.crochet {
	position: relative;
	left: -40px;
	top: -38px;
	height: 0px;
	z-index: 0;
}
h3 {
	font-size: 1em;
	color: black;
	font-weight: bold;
}
.encadré{
	padding-top:5px;
}

.état{
	position: relative;
	left: -30px;
	top: 20px;
	font-size: 2em;
	visibility: hidden;
	color: green
}

.état.réussi{
	visibility: visible;
}

/* animations */

@-webkit-keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}

	100% {
		stroke-dashoffset: 0
	}
}

@-ms-keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}

	100% {
		stroke-dashoffset: 0
	}
}

@keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}

	100% {
		stroke-dashoffset: 0
	}

}
@-webkit-keyframes checkmark-circle {
	0% {
		r: 0
	}

	100% {
		r: 32px
	}
}

@-ms-keyframes checkmark-circle {
	0% {
		r: 0
	}

	100% {
		r: 32px
	}
}

@keyframes checkmark-circle {
	0% {
		r: 0
	}

	100% {
		r: 32px
	}
}

/* other styles */
/* .svg svg {
   display: none
   }
 */
.inlinesvg .svg svg {
	display: inline
}

/* .svg img {
   display: none
   } */

.icon--order-success svg path {
	-webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
	animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
	-webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
	animation: checkmark-circle 0.6s ease-in-out backwards
}

