image: docker/compose:1.29.2

services:
  - docker:20.10.16-dind

default:
  tags: [docker]

stages:
  - verifications 
  - build_image
  - tag_image
  - test
  - deploy_image

variables:
  PROGRESSION_DIR: $CI_PROJECT_DIR
  DOCKER_TLS_CERTDIR: ""
  BRANCHE: $CI_COMMIT_REF_NAME
  
.preparer_contexte: &preparer_contexte
    - apk add ca-certificates openssh
    - mkdir ~/.ssh && cp $ID_RSA ~/.ssh/id_rsa && chmod 400 ~/.ssh/id_rsa
    - echo -e "Host *\n  StrictHostKeyChecking no" > ~/.ssh/config
    - docker context create --docker host=ssh://$CD_USER@$CD_HOST:$CD_PORT --description="Production" prod
    - docker context use prod
    - DOCKER_HOST= 

.login: &login
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    
# Stage test

# Tests unitaires
test_unitaires:
  stage: test
  needs:
    - job: const_image
      optional: true
  script:
    - TAG_DEPLOY=$BRANCHE docker-compose run tests_app
  except:
    - master
    - dev
    
# Linter    
linter:
  stage: test
  needs:
    - job: const_image
      optional: true
  script:
    - TAG_DEPLOY=$BRANCHE docker-compose run linter
  except:
    - master
    - dev

# Stage version_check

# Vérification de l'incrément du numéro de version
version_check:
  stage: verifications
  script:
    - docker run -v $PWD:/progression_frontend bitnami/git bash -c 'git config --global --add safe.directory /progression_frontend && cd /progression_frontend && VERSION_PREV=$(git show HEAD^:VERSION|cut -d "=" -f 2); VERSION_ACT=$(git show HEAD:VERSION|cut -d "=" -f 2); echo Version: $VERSION_PREV  → $VERSION_ACT; dpkg --compare-versions "$VERSION_ACT" "gt" "$VERSION_PREV" || ( echo ERREUR la version n’a pas avancé && exit 1 )'
  only:
  - master

# Stage build_image

# Construction de l'image
const_image:
  stage: build_image
  before_script:
    - *login
  script:
    - \[\[ "$CI_COMMIT_REF_NAME" = "master" -o "$CI_COMMIT_REF_NAME" = "dev" \]\] && target="production-stage" || target="build-stage"
    - \[\[ "$CI_COMMIT_REF_NAME" = "master" -o "$CI_COMMIT_REF_NAME" = "dev" \]\] && mode="prod" || mode="dev"
    - docker build --build-arg NODE_ENV=$mode --build-arg MODE=$mode --target $target -t $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE

const_lti:
  stage: build_image
  before_script:
    - *login
  script:
    - docker build -t $CI_REGISTRY/$CI_PROJECT_PATH:lti_latest ltijs
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:lti_latest
  only:
  - master


# Stage tag

tag_latest:
  stage: tag_image
  needs: [const_image]
  before_script:
    - *login
  script:
    - docker pull $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE
    - docker tag $CI_REGISTRY/$CI_PROJECT_PATH:$BRANCHE $CI_REGISTRY/$CI_PROJECT_PATH:latest   
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH:latest
  only:
    - master

  
# Stage deploy_image

# Déploiement sur /prod
deploy_prod:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: prod
    url: https://progression.dti.crosemont.quebec/
    on_stop: stop_prod
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull app
    - TAG_DEPLOY=latest docker-compose -p prod up --force-recreate -d app ltijs
  only:
    - master
  when:
    manual
    
stop_prod:
  stage: deploy_image
  environment:
    name: prod
    action: stop
  script:
    - TAG_DEPLOY=latest docker-compose -p prod stop app ltijs
  when:
    manual

# Déploiement sur progression.crosemont.qc.ca
deploy_crosemont:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: crosemont
    url: https://progression.crosemont.qc.ca/
    on_stop: stop_crosemont
  before_script:
    - export CD_HOST=progression.crosemont.qc.ca CD_PORT=22 CD_USER=updater
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull app
    - TAG_DEPLOY=latest docker-compose -p prod up --force-recreate -d app ltijs
  only:
    - master
  when:
    manual
    
stop_crosemont:
  stage: deploy_image
  environment:
    name: crosemont
    action: stop
  script:
    - TAG_DEPLOY=latest docker-compose -p prod stop app ltijs
  when:
    manual
    
# Déploiement sur /staging
deploy_staging:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: staging
    url: https://progression.dti.crosemont.quebec/staging/
    on_stop: stop_staging
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull app ltijs
    - TAG_DEPLOY=latest docker-compose -p staging up --force-recreate -d app
  only:
    - master
    
stop_staging:
  stage: deploy_image
  environment:
    name: staging
    action: stop
  script:
    - TAG_DEPLOY=staging docker-compose -p staging stop app
  only:
    - master
  when:
    manual

# Déploiement sur /demo
deploy_prod:
  stage: deploy_image
  needs: [tag_latest]
  environment:
    name: demo
    url: https://progression.dti.crosemont.quebec/demo/
    on_stop: stop_demo
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=latest docker-compose pull app
    - TAG_DEPLOY=latest docker-compose -p demo up --force-recreate -d app
  only:
    - master
  when:
    manual

stop_demo:
  stage: deploy_image
  environment:
    name: demo
    action: stop
  script:
    - TAG_DEPLOY=latest docker-compose -p demo stop app
  only:
    - master
  when:
    manual
    
# Déploiement sur /dev
deploy_dev:
  stage: deploy_image
  environment:
    name: dev
    url: https://progression.dti.crosemont.quebec/dev/
    on_stop: stop_dev
  before_script:
    - *preparer_contexte
    - *login
  script:
    - TAG_DEPLOY=dev docker-compose pull app
    - TAG_DEPLOY=dev docker-compose -p dev up --force-recreate -d app
  only:
    - dev

stop_dev:
  stage: deploy_image
  environment:
    name: dev    
    action: stop
  script:
    - TAG_DEPLOY=dev docker-compose -p dev stop app
  only:
    - dev
  when:
    manual
    
