.feedback {
	color: #5f9ea0
}

.popup_conseil{
	float: right;
	position: relative;
	top: -540px;
	right: 22px;
	z-index: 3;
	font-size: 30px;
}

.test_réussi{
	background-color: #80cc8e;
}

.test_non_réussi{
	background-color: #d88f90;
}

.progress{
	height: 40px;
}
