.feedback {
	color: #5f9ea0
}

.fond_conseil {
	background: white;
}

.popup_conseil{
	float: right;
	position: relative;
	top: -75px;
	right: 38px;
	z-index: 3;
}

.test_réussi{
	background-color: #80cc8e;
}

.test_non_réussi{
	background-color: #d88f90;
}
