.feedback {
	color: #5f9ea0;
}

.popup_conseil{
	float: right;
	position: relative;
	top: -32.7rem;
	right: 1.3rem;
	z-index: 3;
}

.test_réussi{
	background-color: #80cc8e;
}

.test_non_réussi{
	background-color: #d88f90;
}

.progress{
	height: 2.5rem;
}

.svg_ampoule{
	
	fill:#8D8C8C;
	width: 2rem;
	height: 2rem;
}

