/*Nécessaire en production*/
.CodeMirror pre.CodeMirror-line {
	font-family: monospace !important;
}

.btn-reset {
	border-radius: 50%;
}

.gutter-non-editable {
	background:
		linear-gradient(
		to right,
		transparent 80%,
		rgba(127, 127, 127, 0.3) 80% 100%
	);
}

.ligne-non-editable {
	background: rgba(0, 0, 0, 0.05);
}

.edit-box {
	border-style: none;
	border-top-style: solid;
	border-bottom-style: solid;
    border-width: 1px;
	border-color: #ff808080;
}

.edit-box-left {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left-style: solid;
    border-width: 1px;
	border-color: #ff808080;
	padding-left: 0.3rem;
}

.edit-box-right {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right-style: solid;
        border-width: 1px;
	border-color: #ff808080;
	padding-right: 0.3rem;
}

.ligne-cache {
	visibility: hidden;
}

.indicateur_sauvegarde {
	z-index: 1;
	position: absolute;
}

.btn-thème {
	position: relative;
	top: -22px;
	z-index: 100;
}

.codemirror-container:not(.original-style) .CodeMirror, .codemirror-container:not(.original-style) .CodeMirror-merge-pane
{
	/*Override consolas*/
	font-family: monospace !important;
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.taille_texte {
		font-size: 0.7rem;
	}

}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 47.938rem) {
	.taille_texte {
		font-size: 0.7rem;
	}

}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
	.taille_texte {
		font-size: 0.7rem;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
	.taille_texte {
		font-size: 0.75rem;
	}
}

/* ---------- 75rem et + (1200px et +) ---------------- */
@media (min-width: 75rem) {
	.taille_texte {
		font-size: 0.8rem;
	}
}
