.btn-reset {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	margin-right: 15px;
	width: calc(30% - 15px);
}

.ligne-editable {
	background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
			rgba(0, 0, 0, 0.2), 
			rgba(0, 0, 0, 0.2)
        );
}

.ligne-cache {
	visibility: hidden;
}
