/*CSS pour le thème sombre*/
html,

/*
body {
	height: 100%;
	max-height: 100%;
}
*/

:root {
	--panneau-dark: #353535;
}

.thème_sombre .contenu {
	background-color: var(--panneau-dark);
}

.thème_sombre,
.thème_sombre .dropdown-menu {
	background-color: var(--panneau-dark);
	color: #e1e1e1;
	border-color: #555555;
}

.thème_sombre input {
	background-color: var(--panneau-dark);
	color: #e1e1e1;
}

.thème_sombre textarea {
	background-color: var(--panneau-dark);
	color: #e1e1e1;
}

input[type="checkbox"]:checked + .bi {
	fill: rgb(18, 169, 189);
}

input:focus {
	outline: none !important;
	border: none !important;
}

.thème_sombre .btn-primary {
	background-color: #0dcaf0 !important;
}

.thème_sombre .splitpanes .splitpanes__pane {
	background-color: var(--panneau-dark);
	border-style: none;
}

.thème_sombre .splitpanes--vertical > .splitpanes__splitter {
	min-width: 6px;
	background-color: rgb(var(--bs-dark-rgb));
	border-style: none;
}

.thème_sombre .splitpanes--horizontal > .splitpanes__splitter {
	min-height: 6px;
	background: rgb(var(--bs-dark-rgb));
	border-style: none;
}

.thème_sombre .splitpanes .splitpanes__splitter::before,
.thème_sombre .splitpanes .splitpanes__splitter::after {
	background-color: #eee;
}
