.editeur-container {
	display: flex;
	padding: 1.25rem;
	padding-top: 0px;
	flex-direction: row;
}

.ebauche {
	display: flex;
	padding: 1rem;
	margin: 1rem;
	background: #a9a9a9;
}

.v-tour__target--highlighted {
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.4);
}

.v-step__content {
	text-align: left;
}

.flex-column {
	display: flex;
	flex-flow: column;
}

.flex-column.fill-height {
	flex-grow: 1;
}

.m-n-0 {
	min-height: 0;
}

.conteneur-question {
	display: flex;
	flex-flow: column;
}

.énoncé-semi {
	width: 46rem;
}

.énoncé-plein {
	width: 100%;
}

.section-bouton-affichage {
	padding: 0.25rem;
	border: none;
	flex: 0 0 auto;
	margin-left: auto;
}

.thème_sombre .section-bouton-affichage {
	border-right: 0 solid #555555;
}

.énoncé-plein {
	width: 100%;
}

.énoncé-semi .section-boutton-affichage {
	width: 4.5rem !important;
}

.énoncé-plein .section-boutton-affichage {
	width: 4.5rem !important;
}

.btn-affichage {
	padding: 0.375rem;
	float: right;
	font-size: 0.656rem;
}

.btn-affichage:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
}

.btnCommentaire{
	position: fixed;
	bottom: 20px;
	left: 10px;
}

/* Alignement des images selon le texte alternatif
// img alt="texte alternatif >" // aligne à droite
// img alt="texte alternatif <" // aligne à gauche
// img alt="texte alternatif ><" // centre
*/

img[alt$=">"] {
	float: right;
}

img[alt$="<"] {
	float: left;
}

img[alt$="><"] {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	float: none!important;
}
