.editeur-container {
	display: flex;
	height: auto;
	padding: 20px;
	padding-top: 0px;
	flex-direction: row;
}
body {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.ebauche {
	display: flex;
	padding: 1rem;
	margin: 1rem;
	background: darkgray;
}

.v-tour__target--highlighted {
	box-shadow: 0 0 0 99999px rgba(0,0,0,.4);
}

.v-step__content {
	text-align: left;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.flex-column.fill-height {
  flex-grow: 1;
}

.barre-enonce {
  height: 100%;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.taille-ecran {
  height: calc(100vh - 56px);
}

.m-n-0 {
  min-height: 0;
}

.thème_sombre_global .thème_sombre_section{
    background-color: #232121 !important;
    color:#E1E1E1 !important;  
}

.thème_sombre_global{
	background-color: #434343 !important;
	color:#E1E1E1 !important;	
}

#navDroite {
	display: flex;
	justify-content: flex-end;
	margin-right: 10px;
  }

.navBtn{
	margin-right: 10px;
}

input[type="checkbox"]:checked + .bi {
	fill:rgb(18, 169, 189);
}