.btn-valider {
	height: 5rem;
	width: 5rem;
	fill: rgb(37, 177, 34);
	z-index: 2;
}

.btn-valider:hover {
	transform: scale(1.05);
}

.spin {
	z-index: 100;
	position: absolute;
	height: 3.5rem;
	width: 3.5rem;
	bottom: 0.75rem;
	right: 0.75rem;
	border: 0.438rem solid #c6c6c6;
	border-radius: 50%;
	border-top-color: rgb(37, 177, 34);
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}

.btn-valider-play {
	width: 100%;
	height: 100%;
}

.btn-valider-avertissement {
	position: absolute;
	left: 0;
	top: 0;
}

.message_erreur {
	width: 20rem; 
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
