.btn-valider {
	height: 2rem;
	min-width: max-content;
	width: max-content;
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 25px;
	background-color: rgb(37, 177, 34);
	align-items: center;
	display: flex;
	flex-flow: row;
}
.btn-valider:hover {
	transform: scale(1.05);
}

.spin {
	z-index: 100;
	position: absolute;
	height: 3.5rem;
	width: 3.5rem;
	bottom: 0.75rem;
	right: 0.75rem;
	border: 0.438rem solid #c6c6c6;
	border-radius: 50%;
	border-top-color: rgb(37, 177, 34);
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}

.btn-valider-play {
	width: 100%;
	background-color: transparent;
	min-width: max-content;
	color: white;
}
.btn-valider-play:hover {
	color: white;
	min-width: max-content;
}

.btn-valider-avertissement {
	position: relative;
	top: -3.8rem;
	left: 5.2rem;
}

.btn-valider-avertissement:hover {
	transform: scale(1.25);
}

.message_erreur {
	width: 20rem; 
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
