.sortie.vide {
	color: gray;
}
.mode.diff {
	color: #000 !important;
}

.diff.visuel {
	color: #95959500;
}

.diff.visuel.enabled {
	color: #959595ff;
}

.diff.normal {
	text-decoration: none;
	background-color: #ffffff;
}

.diff.différent.ins{
	text-decoration: none;
	background-color: #ffffff;
}

.diff.différent.del{
	text-decoration: none;
	background-color: #ffffff;
}

.diff.différent.ins.enabled{
	background-color: #80cc8e;
}

.diff.différent.del.enabled{
	background-color: #FFB3B3;
}

pre {
	margin: 0 !important;
}

.resultat-test pre {
	height: 100%;
}

.resultat-test pre p {
	height: inherit;
	white-space: break-spaces;	
}