.sortie.vide {
	margin-top: -1.2rem;
	color: #808080;
}
.mode.diff {
	color: #000 !important;
}

.diff.visuel {
	color: #95959500;
}

.diff.visuel.enabled {
	color: #959595ff;
}

.diff.normal {
	text-decoration: none;
	background-color: transparent;
}

.diff.différent.ins {
	text-decoration: none;
	background-color: transparent;
}

.diff.différent.del {
	text-decoration: none;
	background-color: transparent;
}

.diff.différent.ins.enabled {
	color: #000000;
	background-color: #98fb98 !important;
}

.diff.différent.del.enabled {
	color: #000000;
	background-color: #ffb3b3 !important;
}

.bordure-grise {
	border: 1px solid rgba(128, 128, 128, 0.25)
}

.panneaux-sorties {
	overflow-x: scroll;
}

pre {
	margin: 0 !important;
}

.résultat-test {
	padding-bottom: 1rem;
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.thème_sombre .résultat-test {
	border-right: 1px solid rgba(255, 255, 255, 0.125);
}

.espace-sélecteur {
	left: 1rem;
	height: 0.875rem;
	top: 0.07rem;
}

.corps-sorties{
	width: 100%;
	min-width: 50%;
}

.titre-sorties{
	width: 50%;
	min-width: 50%;
}

.rétroaction-test {
	position: fixed;
	right: 3rem;
	z-index: 2;
}

.textarea {
	margin: 5px;
}

.boutonRafraichissement {
	padding-left: 0.5rem;
	font-size: 0.8rem;
	cursor: pointer;
}

textarea {
	background-color: rgb(0, 0, 0, 0) !important;
	border-style: none;
	resize: none;
}
