.thème_sombre_global .thème_sombre_section{
    background-color: #232121 !important;
    color:#E1E1E1 !important;  
}

.thème_sombre_global{
	background-color: #434343 !important;
	color:#E1E1E1 !important;	
}

input[type="checkbox"]:checked + .bi {
	fill:rgb(18, 169, 189);
}

.topnav-right {
	float: right;
	margin-right: 5px;
}

.topnav-left {
	float: left;
}

.thème_sombre_global .btn-primary{
    background-color:#0dcaf0;
}