.section-onglets {
	display: flex;
	flex-flow: row;
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.125);
	border-left: 0.01rem solid rgba(0, 0, 0, 0.125);
}

.onglets {
	border-radius: 0 0.6rem 0 0;
	border: 0.01rem solid rgba(0, 0, 0, 0.125);
	border-bottom: none;
	padding: 0.3rem;
	padding-bottom: 6px;
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.05);
	position: relative;
	right: 2px;
}
.onglet-sélectionné {
	border-bottom: none;
	background-color: #ffffff;
	top: 0.05rem;
}

.thème_sombre .onglets {
	background: rgba(0, 0, 0, 0.25);
	color: #e1e1e1;
	border-color: rgba(255,255,255, 0.15);
}

.thème_sombre .onglet-sélectionné{
	border-bottom: none;
	background-color: transparent;
	top: 0.05rem;
}

.section-bas {
    height: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.section-tests {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	border: none;
}

.onglets-subséquents {
	border-left: none;
}

.btn-test-local {
	color: rgb(37, 177, 34);
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.btn-test-local:hover {
	color: rgb(37, 177, 34);
	transform: scale(1.3);
}

.disabled {
	color: gray;
	font-size: 1.3rem;
}
.disabled:hover {
	color: gray;
	transform: scale(1);
}
