.section-onglets {
	display: flex;
	flex-flow: row;
	border-bottom: 0.01rem solid rgba(0, 0, 0, 0.125);
}

.onglets {
	border-radius: 0 0.6rem 0 0;
	border: 0.01rem solid rgba(0, 0, 0, 0.125);
	padding: 0.3rem;
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.05);
	position: relative;
}

.onglet-sélectionné {
	border-bottom: none;
	background-color: white;
	top: 0.05rem;
}

.panneau {
	height: 0px;
	overflow: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.panneau-afficher {
	height: 250px;
}

.bordure-titre {
	border: 0.01rem solid rgba(0, 0, 0, 0.125);
	border-right: none;
	border-top: none;
	color: rgba(0, 0, 0, 0.5);
}

.section-tests {
	height: 100%;
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: 768px) and (min-height: 865px) {
	.panneau-afficher {
		height: 350px;
	}
}