.accomplissementItem {
	margin: auto;
}

h1 {
	text-align: center;
}

.bordure_table {
	border: none;
}

.thème_sombre .bordure_table {
	border: none;
}

.text-info {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}
