.rétroaction-test {
	position: fixed;
	right: 3rem;
}

.section-erreur {
	flex: 1 1 0px;
	flex-flow: column;
}

.margin-perfect-scrollbar {
    margin-top: -.5rem;
    padding-bottom: 2.5rem;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
}
