div {
	position: relative;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
}

.thème_sombre td,
.thème_sombre th {
	color: #dddddd !important;
	border: 1px solid rgb(155, 155, 155, 0.3);
}

.lienQuestion:hover {
	background-color: rgb(0, 0, 0, 0.05) !important;
	cursor: pointer;
}

.thème_sombre .lienQuestion:hover {
	background-color: #202020 !important;
	cursor: pointer;
}

.tableau {
	background-color: #fdfdfd;
	color: #202020;
	font-family: Arial, Helvetica, sans-serif;
}

.thème_sombre .tableau {
	background-color: #313131;
	color: #202020;
}

.texte {
	color: #dddddd;
	border: none;
}
.bordures {
	border: 2px solid rgb(155, 155, 155, 0.3);
}
.thème_sombre .bordures {
	border: 1px solid rgb(155, 155, 155, 0.3);
}

.bordureBas {
	border-bottom: 1px solid rgb(155, 155, 155, 0.3);
}

.trophée {
	color: var(--bs-body-color);
}

.thème_sombre .trophée {
	color: #e1e1e1;
}
