html{
    position: relative;
    min-height: 100%;
}

h1{
    text-align: center;
    font-weight: bolder;
}

div{
    position: relative;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.lienQuestion:hover{
    background-color: #eeeeee;
    color:#0082e6;
    cursor:pointer;
}

.triTh{
    background-color: #eeeeee;
}